# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/
.env

# IDE
.vscode/
*.swp
*.swo
.idea

# Testing
.coverage
htmlcov/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Local development
*.log
.DS_Store


#Project files
examples/dataset_v2.json
pdfs/
